@font-face {
    font-family: "baligle";
    src: url(../Trabajo_Final_Angie_Gonzalez_Moreno/tipografia/Baligle\ Regular.otf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    outline:var(--linea);
    font-family: 'Montserrat', sans-serif;
}
/*
font-family: 'Lobster', cursive;
font-family: 'Nerko One', cursive;
font-family: 'Shadows Into Light', cursive;
*/

h1,h2,h3,h4,h5,h6{

    font-family: "baligle"; 
    font-size: 2em; 
    
}

/* --------------------------------BARRA DE NAVEGACION-------------------------------- */

.navbar{
   position: fixed;
   width: 100%;
   top:0;
   left: 0%;
   z-index: 999;

}

body{
    padding-top:100px ;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.navbar img{
    height: 100px;
}
.nav-link{
    font-size: 1.2em;
    font-family: "baligle";
    
}
.navbar-nav ul li a:hover{
    background-color: #731A0D;
}

/*----------------------------seccion_1_historia--------------------------*/

h1{
  
    font-size: 2em; 
    padding-left: 20px;
    
}
p{
    font-size: 1.2em; 
    padding: 20px;
}
#perfil{
 
    padding: 50px ;
    margin: auto;
    width: 100%;
    height: 80%;
   
}
#perfil .parteuno{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#perfil .parteuno .marco{
    position: relative;
    order: 10;
    padding-left: 10px;
}

#perfil .parteuno .marco .fotito{
    width: 100%;
    height: 80%;
    padding: 20px;
}
#perfil .parteuno .marco .fotito img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    

}
#perfil .parteuno .texto{ 
    padding-top:20px;
    order: 5;
}

 /*---------------------------- RESEÑAS --------------------------*/

 .tree{
    background-color:#F3932F;
    padding: 20px ;
    margin: auto;

}
.tree .retratos{
    width: 80%;
}

.tree .retratos figure:hover{

    color:white;
}

.tree .retratos .sociales{
    width: 70%;
    height: 90px;
    display: flex;
    justify-content: space-around;
}
.tree .retratos .sociales a{
    height:100px;
    border-radius: 20px;
}
.tree .retratos .sociales a img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tree .sol{
    display: flex;
    justify-content: center;
}
.tree .sol a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 250px;
}

/*------------------------------ Noches teamticas-------------------------- */

.verde{
    display: flex;
    justify-content: space-around;
}
.orden{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom:10% ;
}
.orden h5{
    font-size: 2em;
}
.modal{
    z-index: 999999999;
}

.galeria{
    justify-content: center;
}


.galeria-marco-img{
    margin-top: 70px;
    height: 300px;
    position: relative;
}
.coro{
    width: 100%;
    height: 100%;
}
.coro img{
    border-radius: 40px
}
.nitas{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px;
    transform: rotate(-45deg);
}
.nitas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria-marco-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.galeria-marco-img iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.btn{
    border-radius: 40px;
}
.modal-body img{
    margin-bottom: 30px;
    width: 100%;
    object-fit: cover;
}
.modal-body iframe{
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* -------------------------------- MENU  -------------------------------- */
.negrito li span{
  font-weight: bold;
}
#OurMenu {

    padding: 40px 40px;
    background-color:#F3932F;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.columnas ul li a {
    font-weight: 700;
    transition: 0.5s;
    font-size: 2em;
}

.columnas ul li a:hover {
    background-color: black;
    color: white;
}

.primeracolumna {
    display: flex;
    list-style-type: none;
    width: 45%;
    flex-wrap: wrap;
}

.primeracolumna li {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}

.primeracolumna li span {
    width: 70%;
    color: #731A0D;
    font-size: 1.5em;
}

.primeracolumna li p {
    width: 65%;
    font-size: 1.2em;
    
}

.primeracolumna li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 110px;
    height:100px;
    background-color: red;
    color: #0D0D0D;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.526); 

}

.primeracolumna li a img {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width:100% ;
    height:100px;
    background-color: red;
    
    
}

.segundacolumna {
    display: flex;
    list-style-type: none;
    width: 45%;
    flex-wrap: wrap;
}

.segundacolumna li {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}

.segundacolumna li span {
    width: 70%;
    color: #731A0D;
    font-size: 1.5em;
}

.segundacolumna li p {
    width: 65%;
    font-size: 1.2em;
}

.segundacolumna li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 110px ;
    height: 100px;
    background-color: red;
    color: #0D0D0D;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.526); 
}
.segundacolumna li a  img{
   width: 100%;
   height: 100px ;
   background-color: black;
}

/* TABLET */
@media screen and (min-width:577px) and (max-width:1199px) {

    /* SEGUNDA SECCION */
    #OurMenu .iconos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    #OurMenu .columnas{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    #OurMenu .columnas .primeracolumna{
        width: 100%;
    }
    #OurMenu .columnas .segundacolumna{
        width: 100%;
    }
    #imagenUno {
        font-size: 0.7em;
        padding-bottom: 80px;
    }


}



/* CELULAR */

@media screen and (max-width:576px) {
    /* BARRA DE NAV */
    

    /* SEGUNDA SECCION */
    #OurMenu .iconos {
        display: flex;
        justify-content: space-around;
    }
    #OurMenu .separador{
        margin-top: 10px;
        width: 95%;
    }
    #OurMenu .columnas{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    #OurMenu .columnas .primeracolumna{
        width: 100%;
    }
    #OurMenu .columnas .segundacolumna{
        width: 100%;
    }
    #imagenUno {
        font-size: 0.7em;
        padding-bottom: 80px;
    }
    }

/* ------------------------------------MAPA------------------------------------ */

.mapita{
    padding: 0 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}

.contenido_mapa{
    display: flex;
    height: 500px;
}
.contenido_mapa iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------------------------------FOOTER------------------------------------- */


footer{
    background-color:#BF552A;
   
}
.flores{
    width: 80%;
}
.sonrisa .colgando{ 
    width: 700px;
}

.sonrisa a img{
    height: 45px;
}
.violinista .clavo{
    color: rgb(185, 185, 185);
}
.adios{
    color: rgb(185, 185, 185);
}



